<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CKBracketView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA1405121F2631EC001E7D44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA1405261F2631EC001E7D44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA1405311F2631EC001E7D44</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
